name: Update release info
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

  push:
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-releases-info:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.1
        with:
          version: "latest"

      - name: Run update scripts
        run: |
          uv run grab_release_dates.py
          uv run grab_beta_dates.py

      - name: Commit changes
        if: ${{ contains(fromJSON('["workflow_dispatch", "schedule"]'), github.event_name) }}
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: releases.csv betas.json
          message: "Update releases and betas dates"
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
